/* Initial Style */
html,
body {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr {
    width: 100%;
    padding: 0;
    margin: 0;

    line-height: normal;
}

ul {
    margin: 0;
}

a {
    text-decoration: none !important;

    outline: none !important;
}
/* Initial Style */

/* Default Effects */
.__transition {
    -webkit-transition: all .3s;
            transition: all .3s;
}
/* Default Effects */

/* Center Element Horizontal/Vertical */
.__full_center {
    display:         flex;
    display: -webkit-flex;

    align-items: center;
    justify-content: center;
}
/* Center Element Horizontal/Vertical */

/* No Result */
.__no_result {
    padding: 80px 0;

    text-align: center;
}
/* No Result */

/* 5 Column */
.__col_xs_5items,
.__col_sm_5items,
.__col_md_5items,
.__col_lg_5items {
    position: relative;

    min-height: 1px;
    padding-right: 10px;
    padding-left: 0;
}

.__col_xs_5items {
    float: left;
    width: 20%;
}

@media (min-width: 768px) {
    .__col_sm_5items {
        float: left;
        width: 20%;
    }
}

@media (min-width: 992px) {
    .__col_md_5items {
        float: left;
        width: 20%;
    }
}

@media (min-width: 1200px) {
    .__col_lg_5items {
        float: left;
        width: 20%;
    }
}/* 5 Column */


/* Contact Form 7 Notification Style */
.wpcf7-response-output {
    padding: 20px !important;
    margin: 0;
    margin: 10px 0 !important;

    font-weight: 700;

    color: #fff;
    border: 0 !important;
}

.wpcf7-mail-sent-ok {
    background: #4caf50;
}

.wpcf7-mail-sent-ng {
    background: #f44336;
}

.wpcf7-spam-blocked {
    background: #ff9800;
}

.wpcf7-validation-errors {
    background: #e5d92e;
}
/* Contact Form 7 Notification Style */

/* Archive */
.__archive_container {
    padding: 75px 0;
}

.__post_item {
    margin-bottom: 65px;
    .__details {
        h2 {
            margin-bottom: 15px;

            font-size: 18px;
        }

        p {
            line-height: 1.7;
        }
    }

    .__date {
        padding-top: 15px;
        margin: 20px 0;

        border-top: 1px solid #cacaca;
    }

    a {
        display: block;
        width: 130px;
        padding: 14px 0;

        font-size: 16px;

        color: #fff;
        border-radius: 3px;
        background: #eee;
        &:hover {
            background: #eee;
        }
    }
}/* Archive */


/* Single */
.__single_container {
    padding: 75px 0;
    .__title_part {
        margin-bottom: 50px;
        h2 {
            margin-bottom: 10px;
        }
    }
}/* Single */


/* 404 */
.__page_not_found {
    padding: 100px 0;
    h2 {
        font-size: 200px;
        font-weight: 700;

        letter-spacing: 15px;
    }

    p {
        font-size: 50px;
    }
}/* 404 */


/* Responsive */
@media (max-width: 600px) {
    .__archive_container {
        [class*="col-"] {
            width: 100%;
        }

        .__details {
            height: auto !important;
        }
    }
}/* Responsive */

