/* Initial Style */
html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    @include max_width( 991px ) { 
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include max_width( 767px ) { 
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }

}
html,
body {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr {
    width: 100%;
    padding: 0;
    margin: 0;

    line-height: normal;
}

ul {
    margin: 0;
}

a {
    text-decoration: none !important;

    outline: none !important;
}

/* CLass of tinymce */
.alignleft {
    float: left;
    margin: 0 15px 10px 0;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block; 
    float: none;
    margin: 0 auto;
}
/* CLass of tinymce */

.__show_grid {
    margin-bottom: 15px;
}

.__show_grid_2 {
    margin-bottom: 20px;
}

.__show_grid_3 {
    margin-bottom: 30px;
}

.__show_grid_4 {
    margin-bottom: 40px;
}

.__no_padding {
    padding: 0;
}

.__no_pad_lr {
    padding-right: 0; 
    padding-left: 0;
}

.__no_pad_tb {
    padding-top: 0;
    padding-bottom: 0;
}

.__no_pad_top {
    padding-top: 0;
}

.__no_pad_right {
    padding-right: 0;
}

.__no_pad_bottom {
    padding-bottom: 0;
}

.__no_pad_left {
    padding-left: 0;
}

.__no_margin {
    margin: 0;
}

.__auto_margin {
    margin: auto;
}

.__no_mar_lr {
    margin-right: 0; 
    margin-left: 0;
}

.__no_mar_tb {
    margin-top: 0;
    margin-bottom: 0;
}

.__no_mar_top {
    margin-top: 0;
}

.__no_mar_right {
    margin-right: 0;
}

.__no_mar_bottom {
    margin-bottom: 0;
}

.__no_mar_left {
    margin-left: 0;
}
/* Initial Style */

/* Default Effects */
.__transition {
    -webkit-transition: all .3s;
            transition: all .3s;
}
/* Default Effects */

/* Center Element Horizontal/Vertical */
.__full_center {
    display:         flex;
    display: -webkit-flex;

    align-items: center;
    justify-content: center;
}
/* Center Element Horizontal/Vertical */

/* No Result */
.__no_result {
    padding: 80px 0;

    text-align: center;
}
/* No Result */

/* Contact Form 7 Notification Style */
.wpcf7-form {
    .wpcf7-text,
    .wpcf7-textarea {
        width: 100%;
        border: 1px solid #c8c8c8;
        padding: 10px 8px;
        border-radius: 5px;
        margin-bottom: 20px;
        outline: none;
        &.wpcf7-not-valid {
            border: 1px solid #ff0000;
        }
        +.wpcf7-not-valid-tip {
            display: none;
        }
    }
    .wpcf7-form-control-wrap {
        @media ( max-width: 500px ) {
            width: 234px;
            margin: auto;
        }
        .g-recaptcha {
            @media ( max-width: 500px ) {
                transform:scale(0.77);
                -webkit-transform:scale(0.77);
                transform-origin:0 0;
                -webkit-transform-origin:0 0;
            }
            > div {
                margin-bottom: 25px;
                @media ( max-width: 500px ) {
                    margin: 0 auto;
                }
            }
        }
        .wpcf7-not-valid-tip {
            text-align: center;
            margin-bottom: 10px;
        }
    }
    .wpcf7-response-output {
        padding: 15px !important;
        margin: 0;
        margin: 10px 0 !important;
        color: #fff;
        border: 0 !important;
        &.wpcf7-mail-sent-ok {
            background: #4caf50;
        }
        &.wpcf7-mail-sent-ng {
            background: #f44336;
        }
        &.wpcf7-spam-blocked {
            background: #ff9800;
        }
        &.wpcf7-validation-errors {
            background: #e5d92e;
        }
    }
}
/* Contact Form 7 Notification Style */

/* Archive */
.__archive_container {
    padding: 75px 0;
    @media ( max-width: 600px ) {
        [class*="col-"] {
            width: 100%;
        }

        .__details {
            height: auto !important;
        }
    }
}

.__post_item {
    margin-bottom: 65px;
    .__details {
        h2 {
            margin-bottom: 15px;

            font-size: 18px;
        }

        p {
            line-height: 1.7;
        }
    }

    .__date {
        padding-top: 15px;
        margin: 20px 0;

        border-top: 1px solid #cacaca;
    }

    a {
        display: block;
        width: 130px;
        padding: 14px 0;

        font-size: 16px;

        color: #fff;
        border-radius: 3px;
        background: #eee;
        &:hover {
            background: #eee;
        }
    }
}
/* Archive */

/* Single */
.__single_container {
    padding: 75px 0;
    .__title_part {
        margin-bottom: 50px;
        h2 {
            margin-bottom: 10px;
        }
    }
}
/* Single */

/* 404 */
.__page_not_found {
    padding: 100px 0;
    h2 {
        font-size: 200px;
        font-weight: 700;

        letter-spacing: 15px;
    }

    p {
        font-size: 50px;
    }
}
/* 404 */