$links: "../../fonts";

@font-face {
    font-family: RobotoRegular;
    src: url( "#{$links}/Roboto/Roboto-Regular.ttf" );
}

@font-face {
    font-family: RobotoMedium;
    src: url( "#{$links}/Roboto/Roboto-Medium.ttf" );
}

@font-face {
    font-family: RobotoBold;
    src: url( "#{$links}/Roboto/Roboto-Bold.ttf" );
}

@font-face {
    font-family: LatoRegular;
    src: url( "#{$links}/Lato/Lato-Regular.ttf" );
}
