@mixin display-table {
    display: table;
    width: 100%;
    height: 100%;   
}

@mixin display-table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

@mixin object-fit-cover {
    object-fit: cover;
    font-family: 'object-fit: cover;';
}

@mixin object-fit-contain {
    object-fit: contain;
    font-family: 'object-fit: contain;';
}

@mixin valign_dinlineblock( $param ) {
    display: inline-block;
    vertical-align: $param;
}

@mixin transition() {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

@mixin absolute_vertical_middle() {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin absolute_horizontal_middle() {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin absolute_full_center() {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin flex_full_center() {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}