@mixin max_width( $param ) {
    @media ( max-width: $param ) {
        @content
    }
}

@mixin min_width( $param ) {
    @media ( min-width: $param ) {
        @content
    }
}

@mixin max_min_width( $max, $mix ) {
    @media ( max-width: $max ) and ( min-width: $mix ) {
        @content
    }
}

@mixin max_height( $param ) {
    @media ( max-height: $param ) {
        @content
    }
}

@mixin min_height( $param ) {
    @media ( min-height: $param ) {
        @content
    }
}

@mixin max_min_height( $max, $mix ) {
    @media ( max-height: $max ) and ( min-height: $mix ) {
        @content
    }
}

@mixin valign_dinlineblock( $param ) {
    display: inline-block;
    vertical-align: $param;
}

@mixin transition() {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

@mixin absolute_vertical_middle() {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin absolute_horizontal_middle() {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin absolute_full_center() {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin flex_full_center() {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}